@import url('https://fonts.googleapis.com/css?family=Acme|Roboto');
*{
	margin: 0;
	padding: 0;
}
body{
	max-width:800px;
	margin:auto;
}

 #logo a {
	 text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-decoration:none;
}

header nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

main .dogsimg{
	background-image: url(../img/dogs-spa.jpg);
    background-size: cover;
    background-position: center;
    min-height: 465px;
    display: flex;
    align-items: center;
    justify-content: center;
}